<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <script src="https://kit.fontawesome.com/1a29b24407.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="site.css" />
    <link rel="stylesheet" href="Fronted.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
