@inherits LayoutComponentBase
@layout AccountLayout


<section class="profile">
    <aside>
        <Fronted.Components.Sections.AccountProfileAvatar/>
		<ManageNavMenu />
    </aside>
    <div>
		@Body
    </div>
</section>

